<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="all">
  </head>
  <body>
    <!-- create new column -->
    <button id="create_column" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button">
      <span class="ui-button-text">Create Column</span>
    </button>
    <!-- column lists -->
    <div class="column-lists">
      {% for column in columns %}
      <div id="column_{{ column.id }}" class="column">
        <div class="column-header">
          {{ column.title }}
        </div>
        {% for portlet in column.portlets %}
        <div id="portlet_{{ portlet.id }}" class="portlet">
          <div class="portlet-header">
            {{ portlet.title }}
          </div>
          <div class="portlet-content">
            {{ portlet.content }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    <!-- end column list -->
    </div>
  </body>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
function setSortable() {

  $( ".column-lists" ).sortable({
    connectWith: ".column-lists",
    handle: ".column-header",
    cancel: ".column-toggle",
    start: function (event, ui) {
      ui.item.addClass('tilt');
    },
    stop: function (event, ui) {
      ui.item.removeClass('tilt');
    }
  });

  $( ".column" ).sortable({
    connectWith: ".column",
    handle: ".portlet-header",
    cancel: ".portlet-toggle",
    start: function (event, ui) {
      ui.item.addClass('tilt');
    },
    stop: function (event, ui) {
      ui.item.removeClass('tilt');
    }
  });
}

$(document).ready(function() {
  setSortable();

  // add jquery-ui class
  $(".column")
    .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all");

  $(".portlet")
    .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all");

  $(".column-header")
    .addClass("ui-widget-header ui-corner-all")
    .append("<span class='ui-icon ui-icon-plus portlet-create'></span>")
    .append("<span class='ui-icon ui-icon-close column-toggle'></span>");

  $(".portlet-header")
    .addClass("ui-widget-header ui-corner-all")
    .append("<span class='ui-icon ui-icon-close portlet-toggle'></span>");


  // create new column
  $("#create_column").on('click', function(e) {
    e.preventDefault();
    var newColumnId = false;
    $.ajax({
      type: "POST",
      url: "/create/column/",
      success: function(response) {
        var obj = jQuery.parseJSON(response);
        if(obj.success) {
          newColumnId = obj.id;
          $(".column-lists").append(
            "<div id='column_" + newColumnId + "' class='column ui-sortable ui-widget ui-widget-content ui-helper-clearfix ui-corner-all'>" +
            "<div class='column-header ui-widget-header ui-corner-all'>" +
            "New Column" +
            "<span class='ui-icon ui-icon-close column-toggle'></span>" +
            "<span class='ui-icon ui-icon-plus portlet-create'></span>" +
            "</div>" +
            "</div>");
          setSortable();
        }
      }
    });
  });
});

$(document).on('click', '.portlet-create', function(e) {
  e.preventDefault();
  var column = $(this);
  var columnId = $(column[0].parentNode.parentNode)[0].id.split('_')[1];

  $.ajax({
    type: "POST",
    url: "/create/portlet/<column_id>/".replace("<column_id>", columnId),
    success: function(response) {
      var obj = jQuery.parseJSON(response);
      if(obj.success) {
        newPortletId = obj.id;

        $(column[0].parentNode.parentNode).append(
          "<div id='portlet_" + newPortletId + "' class='portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all'>" +
          "<div class='portlet-header ui-widget-header ui-corner-all'>" +
          "New Portlet" +
          "<span class='ui-icon ui-icon-close portlet-toggle'></span>" +
          "</div>" +
          "<div class='portlet-content'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div></div>");
        setSortable();
      }
    }
  });
});
$(document).on('click', '.column-toggle', function() {
    var column = $(this);
    var columnId = $($(column).parent()).parent().attr('id').split('_')[1];

    $.ajax({
      type: "DELETE",
      url: "/delete/column/<column_id>/".replace("<column_id>", columnId),
      success: function(response) {
        var obj = jQuery.parseJSON(response);
        if(obj.success) {
          $($(column).parent()).parent().remove();
        }
      }
    });

});

$(document).on('click', '.portlet-toggle', function() {
    var portlet = $(this);
    $(portlet[0].parentNode.parentNode).remove();
});

$(document).on('click', '.portlet-header', function() {
  var title = $(this);
  title.hide();
  var inputBox = $("<input name='edit' class='edit-title' type='text' />");
  title.after(inputBox);
  inputBox.focus();
  inputBox.blur(function() {
    if ($.trim(this.value) != '') {
      title.html($(this).val() + "<span class='ui-icon ui-icon-close portlet-toggle'></span>");
    }
    $(this).remove();
  });
  title.show();
});
</script>
</html>
