<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="all">
  </head>
  <body>
    <!-- create new column -->
    <button id="create_column" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button">
      <span class="ui-button-text">Create Column</span>
    </button>
    <!-- column lists -->
    <div class="column-lists">
      <div class="column ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
        <div class="column-header ui-widget-header ui-corner-all">
          Column 1
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Alpha
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Bravo
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
      </div>
      <div class="column ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
        <div class="column-header ui-widget-header ui-corner-all">
          Column 2
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Charlie
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Delta
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
      </div>
      <div class="column ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
        <div class="column-header ui-widget-header ui-corner-all">
          Column 3
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Echo
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
          <div class="portlet-header ui-widget-header ui-corner-all">
            Foxtrot
          </div>
          <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
      </div>
    <!-- end column list -->
    </div>
  </body>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $( ".column-lists" ).sortable({
    connectWith: ".column-lists",
    handle: ".column-header",
    cancel: ".column-toggle",
    start: function (event, ui) {
      ui.item.addClass('tilt');
    },
    stop: function (event, ui) {
      ui.item.removeClass('tilt');
    }
  });

  $( ".column" ).sortable({
    connectWith: ".column",
    handle: ".portlet-header",
    cancel: ".portlet-toggle",
    start: function (event, ui) {
      ui.item.addClass('tilt');
    },
    stop: function (event, ui) {
      ui.item.removeClass('tilt');
    }
  });

  $(".column-header")
    .prepend("<span class='column-toggle'></span>");

  $(".portlet-header")
    .prepend("<span class='portlet-toggle'></span>");

  $("#create_column").click(function() {
      $(".column-lists").append(
        "<div class='column ui-widget ui-widget-content ui-helper-clearfix ui-corner-all'>" +
        "<div class='column-header ui-widget-header ui-corner-all'>New Column</div>" +
        "</div>");
  });
});
</script>
</html>
