<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="all">
  </head>
  <body>
    <h3> Index page</h3>
  <div class="column">
    <div class="portlet">
      <div class="portlet-header">Alpha</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div class="portlet">
      <div class="portlet-header">Bravo</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
  </div>
  <div class="column">
    <div class="portlet">
      <div class="portlet-header">Charlie</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div class="portlet">
      <div class="portlet-header">Delta</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
  </div>
  <div class="column">
    <div class="portlet">
      <div class="portlet-header">Echo</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div class="portlet">
      <div class="portlet-header">Foxtrot</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
  </div>
  </body>
</html>
