.tilt {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}

body {
  min-width: 520px;
}
#create_column {
  margin-bottom: 20px;
}
.column {
  width: 240px;
  float: left;
  padding-bottom: 100px;
  margin-right: 10px;
}
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.column-toggle,
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-create,
.portlet-archive {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  margin-right: 16px;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-archive-all {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  margin-right: 32px;
}
.column-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.board-active {
  border-right: 1px solid black;
}
